---
layout: navigation
---

<u>Post</u> - <em>{{ page.date | date: "%B %-d, %Y" }}</em> - {{ page.categories | join: ", " }}

{{ content }}

<section class="collection_navigation">
    {% if page.previous %}
    <div class="left">
      <a href="{{ page.previous.url }}" title="Previous Post: {{ page.previous.title }}">
        <h6>&laquo; Previous Post: {{ page.previous.title }}</h6>
      </a>
    </div>
    {% endif %} {% if page.next %}
    <div class="right">
      <a href="{{ page.next.url }}" title="Next Post: {{ page.next.title }}">
        <h6>Next Post: {{ page.next.title }} &raquo;</h6>
      </a>
    </div>
    {% endif %}
    <div class="clear"></div>
</section>
